
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
 
</head>

<body>

    
    <ul>
        {{#items}}
            <li>
                <h1>{{name}} </h1>
                <h4>Added by: {{admin_id}} </h4>
                <a href="{{{path}}?">Link</a>
            </li>
        {{/items}}
    <ul>
</body>
</html>
